/* Container */
/* ---------------------------------------------------------------- */

footer {
  padding: 50px 0 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 50px;

  background-color: #000000;
  color: #ffffff;
}

/* ---------------------------------------------------------------- */
/* Socials */
/* ---------------------------------------------------------------- */

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 100px;
  row-gap: 24px;

  width: 40vw;

  /* background-color: hsl(0, 0%, 50%); */
}

.social-border {
  display: flex;
  justify-content: center;

  border-top: 1px solid hsla(0, 0%, 100%, 24%);
  border-bottom: 1px solid hsla(0, 0%, 100%, 24%);

  padding: 50px 100px;
}

.socials a {
  display: flex;
  gap: 16px;

  text-decoration: none;
  list-style: none;
  font-weight: 400;

  color: #ffffff;

  font-size: 20px;
  letter-spacing: 1px;
}

/* ---------------------------------------------------------------- */
/* Paragraphs */
/* ---------------------------------------------------------------- */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 24px;
  width: 36%;
}

.info p {
  font-size: 12px;
}

/* ---------------------------------------------------------------- */
/* List */
/* ---------------------------------------------------------------- */

.footer-list {
  display: flex;
  justify-content: center;

  width: 100%;

  background: linear-gradient(to bottom, #000000 0%, #401708 100%);
  padding-bottom: 50px;
}

footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 24px;
  row-gap: 14px;
  width: 55%;

  overflow: hidden;

  /* background-color: hsl(0, 0%, 30%); */
}

footer ul li {
  text-decoration: none;
  list-style: none;

  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 200;
}

footer ul li a {
  color: #ffffff;
}

/* ---------------------------------------------------------------- */
