/* ---------------------------------------------------------------- */
/* Model Container */
/* ---------------------------------------------------------------- */

#models-container{
    width: 90vw;

    display: flex;
    flex-direction: column;

    gap: 100px;
    justify-content: center;

    padding-top: 120px
}

/* ---------------------------------------------------------------- */
/* Model Container Header */
/* ---------------------------------------------------------------- */

#models-container header{
    width: 100%;
    justify-items: center;
}

/* ---------------------------------------------------------------- */
/* Card Width */
/* ---------------------------------------------------------------- */

.model-1,
.model-2,
.model-3,
.model-4,
.model-5
{
    width: 60%;
    height: auto;

    display: flex;

    border-radius: 8px;

    background-color: hsl(0, 0%, 50%);

    background-color: hsla(0, 0%, 0%, 0.25);
}

/* ---------------------------------------------------------------- */
/* Spliting the Cards */
/* ---------------------------------------------------------------- */
.model-1 img,
.model-2 img,
.model-3 img,
.model-4 img,
.model-5 img
{
    width: 50%;
    height: 100%;

    border-radius: 8px 0 0 8px;
}

.model-1 .text,
.model-2 .text,
.model-3 .text,
.model-4 .text,
.model-5 .text
{
    width: 50%;
    padding: 36px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 16px;

    /* background-color: hsl(0, 0%, 20%); */
}

/* ---------------------------------------------------------------- */
/* Aligning The Cards */
/* ---------------------------------------------------------------- */
.model-1{
    align-self: flex-start;
}

.model-2{
    align-self: center;
}

.model-3{
    align-self: flex-end;
}

.model-4{
    align-self: center;
}

.model-5{
    align-self: flex-start;
}